{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'style/style1.css'%}">
{% block content %}
<div class="text-dark text-center" style="margin: 1%;">
    <div class="row">
        <div class="col-0"></div>
        <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Course update form</li>  
            </ol>
        </nav>
        </div>
        <div class="col-0"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            {% for message in messages %}
                <em class="title text-danger">{{message}}</em>
            {% endfor %}
            <form action="{% url 'course:course-update' course.id %}" method='POST' class="">
                {% csrf_token %}          
                    <div class="row">
                        <div class="col-12"><h3 class="text-primary"><hr></h3></div>
                        <div class="col-md-6"> {{ form.title|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.code|as_crispy_field }} </div> 
                        <div class="col-md-6"> {{ form.credit_unit|as_crispy_field }} </div> 
                        <div class="col-md-6"> {{ form.department|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.option|as_crispy_field }} </div>  
                        <div class="col-md-6"> {{ form.level|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.semester|as_crispy_field }} </div>  
                    </div>   
                    <div>
                        <br>
                        <button class="btn btn-primary text-light" type="submit" >Submit</button>   
                        <br>
                        <br>
                    </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
