{% block student_list %}
    <div class="card"><!--Students-->
        <div class="card-header" id="heading-two">
        <h5 class="mb-0">
            <div class="pull-left">
                <button class="btn btn-link text-info collapsed" data-toggle="collapse" data-target="#collapse-two" aria-expanded="false" aria-controls="collapseTwo">
                    Students<scan class="badge badge-pill badge-success text-light"> {{students|length}}</scan>
                </button>
            </div>
            {% if user.is_hod %}
                <div class="pull-right">
                    <a class="btn btn-success" href="#"><i class="fa fa-plus"> New</i></a>
                </div>
            {% endif %}
        </h5>
        </div>
        <div id="collapse-two" class="collapse" aria-labelledby="heading-two" data-parent="#accordion">
            <div class="card-body">
                {% if students %}
                    {% for student in students %}
                        <div class="jumbotron" style="margin:1% 1% 1% 1%; padding: 1%">
                            <a class="no-decorations mosque-central" href="{% url 'department:detail' department.id %}">
                                <img class="rounded" src="{{department.logo.url}}" title="{{department.name}}" width="20%" height="20%">
                                <span class="pull-right"  style="margin:1%;">{{student.name|title}}</span>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class=" text-danger alert-info">Students not added</div>
                {% endif %}
            </div>
        </div>
    </div><!--End of student card-->
{% endblock  %}