{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="card" style="margin:1% 1% 1% 1%; padding: 1%">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class=" breadcrumb-item text-danger h3">
                                Sign up form
                            </li>
                        </ol>
                </nav>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-title h5">Student SignUp</div><hr>
                            <div class="card-photo">
                                <img src="{% static 'images/avartar1.png' %}" width="100" height="100">
                            </div>
                            <div class="card-body">
                                <form action="{% url 'student:student-profile' %}" method='POST' class="input-shadow">
                                {% csrf_token %}                    
                                    <div class="row">
                                        <div class="col-12"><h3 class="text-primary">Personal Information<hr></h3></div>
                                        <div class="col-md-12"> {{ form.phone_number|as_crispy_field }} </div>
                                        <div class="col-md-12"> {{ form.home_address|as_crispy_field }} </div> 
                                        <div class="col-md-12"> {{ form.photo|as_crispy_field }} </div> 
                                    </div> 
                                    <div class="row">
                                        <div class="col-12"><h3 class="text-primary">Academic Information<hr></h3></div>
                                        <div class="col-md-12"> {{ form.matriculation_no|as_crispy_field }} </div>  
                                        <div class="col-md-6"> {{ form.department|as_crispy_field }} </div>  
                                        <div class="col-md-6 col-sm-12"> {{ form.program|as_crispy_field }} </div>  
                                        <div class="col-md-6 col-sm-12"> {{ form.option|as_crispy_field }} </div> 
                                        <div class="col-md-6"> {{ form.level|as_crispy_field }} </div> 
                                        <div class="col-md-6"> {{ form.year_of_admission|as_crispy_field }} </div>
                                        <div class="col-md-6"> {{ form.year_of_graduation|as_crispy_field }} </div>      
                                    </div>   
                                    <div>
                                        <br>
                                        <button class="btn btn-primary text-light" type="submit" >Student Registration</button>   
                                        <br>
                                        <br>
                                    </div>                       
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
{% endblock content %}
