{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="" style="margin:1% 1% 1% 1%; padding: 1%">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class=" breadcrumb-item text-danger h3">
                            Student Profile
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class='col-md-0 col-sm-12'></div>
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <!--div class="card-title h5">Student Profile form</div-->
                            <div class="card-photo">
                                <!--img src="{% static 'images/avartar1.png' %}" width="100" height="100"-->
                            </div>
                            <div class="card-body">
                                <form action="{% url 'student:student-create' %}" method='POST'
                                     enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6"> {{ form.home_address|as_crispy_field }} </div>
                                        <div class="col-md-6"> {{ form.photo|as_crispy_field }} </div>
                                        <div class="col-md-6"> {{ form.matriculation_no|as_crispy_field }} </div>
                                        <div class="col-md-6"> {{ form.department|as_crispy_field }} </div>
                                        <div class="col-md-6 col-sm-12"> {{ form.program|as_crispy_field }} </div>
                                        <div class="col-md-6 col-sm-12"> {{ form.option|as_crispy_field }} </div>
                                        <div class="col-md-6"> {{ form.level|as_crispy_field }} </div>
                                        <div class="col-md-6"> {{ form.year_of_admission|as_crispy_field }} </div>
                                        <div class="col-md-6"> {{ form.year_of_graduation|as_crispy_field }} </div>
                                        <div class="col-md-6"> {{ form.is_course_ref|as_crispy_field }} </div>
                                    </div>
                                    <div>
                                        <br>
                                        <button class="btn btn-info text-light" type="submit" >Submit</button>
                                        <a class="btn btn-warning text-light" href="{% url 'users:user-profile' %}" >Cancel</a>
                                        <br>
                                        <br>
                                    </div>
                                </form>
                            </div>
                            <div class='col-md-0  col-sm-12'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
