{% extends 'layout.html' %}
{% block content %}

    <div class="text-dark text-center" style="margin: 1%;">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron ">
                    <!--accordion-->
                    <div id="accordion">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active text-success h3" aria-current="page">
                                    <img class="rounded-circle text-left" src="{{department.logo.url}}" alt="{{department.name}}" width="100" height="100">
                                    {{department.name|title}} Department
                                </li>
                            </ol>
                        </nav>
                        {% include 'department/partials/lecturer_card.html' %}
                        {% include 'department/partials/course_card.html' %}
                        {% include 'department/partials/student_card.html' %}
                        {% include 'department/partials/program_card.html' %}
                    </div><!--End of accordion-->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}