{% block course_card %}
    <div class="card">
        <div class="card-header" id="heading-course">
        <h5 class="mb-0">
            <div class="pull-left">
                <button class="btn btn-link no-decorations collapsed" data-toggle="collapse" data-target="#collapse-course" aria-expanded="false" aria-controls="collapseTwo">
                   <i class="fa fa-book"></i> Courses <sup><scan class="badge badge-success text-light">{{courses|length}}</scan></sup>
                </button>
            </div>
            <div class="pull-right">
                <a class="btn btn-success" href="{% url 'course:course-create' %}"><i class="fa fa-plus"></i> New</a>
            </div>
        </h5>
        </div>
        <div id="collapse-course" class="collapse" aria-labelledby="heading-course" data-parent="#accordion">
        <div class="card-body">
            {% if user.is_lecturer or user.is_hod %}
                {% include 'users/partials/course/assigned_course_list.html' %}
            {% else %}
                {% include 'users/partials/course/assigned_course_list.html' %}
            {% endif %}
        </div>
        </div>
    </div>
{% endblock course_card %}