{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'style/style1.css'%}">
{% block content %}
<div class="text-dark text-center" style="margin: 1%;">
    <div class="row">
        <div class=" col-md-12 "><h1 class="text-warning">Lecturer Profile form</h1><br></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-md-8 col-sm-12 ">
            {% for message in messages %}
                {% if forloop.counter == 1 %}
                    <em class="title text-danger">{{message}}</em>
                {% endif %}
            {% endfor %}
            <form action="{% url 'lecturer:lecturer-create' %}" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6"> {{ form.department|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.option|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.office|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.photo|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.gender|as_crispy_field }} </div>
                        <div class="col-md-6"> {{ form.is_serving|as_crispy_field }} </div>
                    </div>
                    <div>
                        <br>
                        <button class="btn btn-info text-light" type="submit" >Submit</button>
                        <a class="btn btn-warning text-light" href="{% url 'users:user-profile' %}">Cancel</a>
                        <br>
                        <br>
                    </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}
