{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% load static %}

{% block content %}
    <!--link type="text/css" rel="stylesheet" href="{% static 'style/style1.css'%}"-->

    <div id="site-info" class=" bg-dark" style="margin:1% 1% 1% 1%;">
        <div>
            <h1 class="site-name" style="font-family: forte;" class="">Welcome to P.T.I Academic site</h1><br>
            <p class="site-intro text-secondary" style="line-height: 1.5em; font-family: 'Courier New', Courier, monospace;">
                P.T.I. Academics is your for students and lecturers to do activities as follows:
                <ul class="text-light">
                    <li>Result viewing</li>
                    <li>Result processing</li>
                    <li>Course registration</li>
                    <li>Qiuzes/Assignents preparation</li>
                </ul>
            </p>

        </div>
    </div>

    <div class="text-dark state" style="margin:1% 1% 1% 1%; padding: 1%">
        <h2>Departments<sup><span class="badge badge-success">{{departments|length}}</span></sup></h2>
    </div>
    {% for department in departments %}
        <div class="jumbotron" style="margin:1% 1% 1% 1%; padding: 1%">
            <a class="text-left no-decorations mosque-central" href="{{department.get_absolute_url}}">
            <div class="">
                <p class="text-left">
                    <img class="rounded-circle text-left" src="{{department.logo.url}}" alt="{{department.name}}" width="20%" height="20%">
                    {{department.name}}({{department.abbreviated_name}})
                </p>
            </div>
            </a>
        </div>
    {%endfor%}
{%endblock%}
{% block side-bar %}
    {{block.super}}
{% endblock %}
{% block state-items %}
        {{block.super}}
{% endblock %}
