{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="card" style="margin:1% 1% 1% 1%; padding: 1%">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class=" breadcrumb-item text-danger h3">
                            Login form
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-photo">
                                <img class="rounded-circle" src="{% static 'images/avartar1.png' %}" width="100" height="100">
                            </div>
                            <div class="card-body">
                                <form action="{% url 'users:login' %}" method='POST' class="">
                                    {% csrf_token %}                    
                                    <div class="row">
                                        <div class="col-12"> {{ form.username|as_crispy_field }} </div>  
                                        <div class="col-12"> {{ form.password|as_crispy_field }} </div>  
                                    </div>   
                                    <div>
                                        <br>
                                        <button class="btn btn-info text-light" type="submit" >Login</button>   
                                        <br>
                                        <br>
                                    </div>
                                    <hr>
                                    <div class="text-dark">
                                        <a class="btn btn-link text-info" href="{% url 'users:registration-menu' %}">Sign up.</a> |
                                        <a class="btn btn-link text-danger" href="{% url 'users:login' %}">Forgotten password?</a> 
                                    </div> 
                                </form>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
